<% events.each do |event| %>
<div class="event-card shadow">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= url_for activity_img(event, class_name: "card-img") %>
      </div>
      <div class="col-md-8">
        <!--<div class="card-body <%#= "color-#{event.status}" %>">-->
        <div class="card-body" %>
          <h5 class="card-title"><%= event.event_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="far fa-calendar-alt"></i><%= "#{event.event_start}" %>~<%= "#{event.event_end}" %></h6>
          <p class="card-text">活動說明：<%= event.description %></p>
          <%#= abc %>
          <%= link_to "更多內容", event_path(event), class:"btn btn-warning btn-sm" %>
          <%= if_liked(event) %>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="status-tag <%= event.event_status == 'open' ? 'open_tag' : 'reach_min_tag' %>"></div>-->
  <div class="status-tag" %>"></div>
   <div class="tagwrap"> 
     <div class="tag">
     <%= t("AASM.#{event.event_status}")%>
       <%#= event.event_status %>
     </div>
   </div>
</div>

<% end %>