<% events.each do |event| %>
  <div class="card">
    <%= activity_img(event, class_name: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><%= event.event_name %></h5>
      <p class="card-text"><i class="far fa-clock"></i><%= "#{event.event_start} ~ #{event.event_end}" %></p>
      <p class="card-text"><%= event.description %></p>

      <%= link_to "活動詳情", event_path(event), class:"btn btn-primary" %>
      <%= if_liked(event) %>
    </div>
  </div>
<% end %>
