<div class="container event-categories">
  <div class="row">
    <div class="col">
      <%= link_to "美食", food_events_path, class: "fas fa-utensils" %>
    </div>
    <div class="col">
      <%= link_to "藝文", art_events_path, class: "fas fa-palette" %>
    </div>
    <div class="col">
      <%= link_to "娛樂", entertainment_events_path, class: "fas fa-chess" %>
    </div>
    <div class="col">
      <%= link_to "學習", learn_events_path, class: "fas fa-book" %>
    </div>
    <div class="col">
      <%= link_to "運動", sport_events_path, class: "fas fa-basketball-ball" %>
    </div>
  </div>
</div>