<h4 class="mg-10">修改個人資料</h4>
<div class="user-form shadow">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= avatar_tag(current_user) %>
    <div class="form-inputs">
      <%= f.input :avatar, autofocus: true, label: '請放你的顯示圖片' %>

        <div class="col">
          <%= f.input :name, required: true, autofocus: true, label: '姓名/暱稱', id: "bootstrap-overrides" %>
        </div>
        <div class="col">
          <%= f.input :gender, required: true, autofocus: true, label: '性別',
          as: :radio_buttons, item_wrapper_class: 'inline', 
          collection: User.genders.keys %>
        </div>

        <div class="col">
          <%= f.input :email, required: true, autofocus: true, label: 'e-mail' %>
        </div>
        <div class="col">
          <%= f.input :mobile, required: true, autofocus: true, label: '手機' %>
        </div>

        <div class="col">
          <%= f.input :self_intro, autofocus: true, label: '關於我', placeholder: '跟別人介紹一下你自己吧' %>
        </div>

      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

        <div class="col">
          <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" }, label: '重設密碼' %>
        </div>
        <div class="col">
          <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" }, label: '確認密碼' %>
        </div>

      
      
    </div>

    <div class="form-actions">
      <%= f.button :submit, "更新資料", class: "btn btn-warning btn-sm btn-block"%>
    </div>
  <% end %>
</div>




