
<%= simple_form_for event do |f| %>
<div class="form-group">
  <div class="row">
    <div class="col-12">
      <%= f.input :image, label: '活動圖片',class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <%= f.input :event_name, label: '活動名稱',class: 'form-control' %>
    </div>
    <div class="col-2">
      <%= f.input :event_type, collection: Event.event_types.keys, label: '活動種類',class: 'form-control' %>
    </div>
    <div class="col-5">
      <%= f.input :location, label: '活動地址', class:"from-control" %>
    </div>
  </div>
</div>


<div class="form-group">
  <div class="row">
    <div class="col-6">
      <%= f.input :apply_start %>
    </div>
    <div class="col-6">
      <%= f.input :apply_end %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-6">
      <%= f.input :max_attend, label: '最大人數上限',class: 'form-control' %>
    </div>
    <div class="col-6">
      <%= f.input :min_attend, label: '最小成團人數',class: 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-6">
      <%= f.input :event_start, label: '活動開始',class: 'form-control' %>
    </div>
    <div class="col-6">
      <%= f.input :event_end, label: '活動結束',class: 'form-control' %>       
    </div>
  </div>
</div>
<!--:event_status-->
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>