<div class="index header">
  <div class="logo">
    <div class="logo small-logo">
      <%= image_tag "new-logo-small.png" %>
    </div>
    <div class="logo large-logo">
      <%= image_tag "new-logo-large.png" %>
    </div>
  </div>

  <div class="search">
    <div class="search-area">
      <div class="input">
        <%= form_tag(list_events_path, :method => "get") do %>
          <%= text_field_tag :search, nil, placeholder:"搜尋活動，GO！" %>
      </div>
          <% end %> 
      </div>
    </div>

    
    
      
</div>

  <div class="add-bubble">
      <div class="circle blue xs"></div>
      <div class="circle red sm"></div>
      <div class="circle green md"></div>
      <div class="circle orange lg"></div>
      <div class="circle yellow sm"></div>
      <div class="circle green xs"></div>
      <div class="circle blue md"></div>
      <div class="circle orange sm"></div>
      <div class="circle red xs"></div>
      <div class="circle yellow sm"></div>
      <div class="circle orange md"></div>

  </div>


<%= render 'shared/frontend/categories' %>

