<div class="index header">
  <div class="logo">
    <div class="logo small-logo">
      <%= image_tag "new-logo-small.png" %>
    </div>
    <div class="logo large-logo">
      <%= image_tag "new-logo-large.png" %>
    </div>
  </div>

  <div class="search">
    <div class="search-area">
      <div class="input">
        <%= form_tag(events_path, :method => "get") do %>
          <%= text_field_tag :search, nil ,placeholder:"搜尋活動，GO！" %>
          
      </div>
      <div class="send-btn">
        <% submit_tag "" ,:event_name => nil, class: "send-tag" %>
          <% end %> 
      </div>
    </div>

    
    
      
  </div>

  <div class="add-bubble">
      <div class="circle blue xs"></div>
      <div class="circle red sm"></div>
      <div class="circle green md"></div>
      <div class="circle orange lg"></div>
      <div class="circle yellow sm"></div>
      <div class="circle green xs"></div>
      <div class="circle blue md"></div>
      <div class="circle orange sm"></div>
      <div class="circle red xs"></div>
      <div class="circle yellow sm"></div>
      <div class="circle orange md"></div>

    </div>
</div>




<div class="index categories">
  <div class="step">
    <%= link_to food_events_path do %>
      <div class="intro">
          <div class="step-count">
              最好吃
          </div>
          <h3>美食</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, inventore doloribus! Ea.</p>
      </div>
      <div class="bg-icon">
          <i class="fas fa-wallet"></i>
      </div>
    <% end %>
  </div>

  <div class="step">
    <%= link_to art_events_path do %>
      <div class="intro">
          <div class="step-count">
              有氣質
          </div>
          <h3>藝文</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, inventore doloribus! Ea.</p>
      </div>
      <div class="bg-icon">
          <i class="fas fa-palette"></i>
      </div>
    <% end %>
  </div>

  <div class="step">
    <%= link_to learn_events_path do %>
      <div class="intro">
          <div class="step-count">
              認真上進
          </div>
          <h3>學習</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, inventore doloribus! Ea.</p>
      </div>
      <div class="bg-icon">
          <i class="fas fa-book"></i>
      </div>
    <% end %>
  </div>

  <div class="step">
    <%= link_to sport_events_path do %>
      <div class="intro">
          <div class="step-count">
              最陽光
          </div>
          <h3>運動</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, inventore doloribus! Ea.</p>
      </div>
      <div class="bg-icon">
          <i class="fas fa-basketball-ball"></i>
      </div>
    <% end %>
  </div>  

</div>
