<h4 class="mg-10">主揪資訊</h4>

<div class="user-card">

    <div class="card">
      <h5 class="card-header"><%= @user.name %></h5>
      <div class="row">
        <div class="col-4">
          <%= avatar_tag(@user, size: '100x100') %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <p class="card-text"><i class="fas fa-restroom"></i><%= @user.gender %></p>
            <p class="card-text"><i class="fas fa-mobile-alt"></i> <%= link_to @user.mobile, "#{ @user.mobile } " if @user.mobile.present? %></p>
            <p class="card-text"><i class="fas fa-envelope-open-text"></i> <%= mail_to @user.email, "#{ @user.email }" %></p>
            <p class="card-text">自我介紹：<%= @user.self_intro %></p>
          </div>
        </div>
      </div>

    </div>

</div>