<div class="form-container shadow">
  <div class="event-show-header">
    <div class="event-img">
      <%= url_for activity_img(@event) %>
    </div>

    <div class="tag">
        <%= @event.event_type %>
    </div>

    <%= link_to owner_event_path, class: "owner-photo" do %>
      <%= url_for avatar_tag(@event.owner, size: '70x70') %>
    <% end %>
  </div>

  <div class="event-info">
    <h3>
    <%= @event.event_name %>
    </h3>

    <div class="col description">
      <p>
        <%= @event.description %>
      </p>
      
    </div>

    <div class="col">
      <h6>
      <i class="far fa-calendar-alt"></i>
      活動時間
      </h6>
      <p class="text-muted">
      <%= @event.event_start %>~<%= @event.event_end %>
      </p>
    </div>

    <div class="col">
      <h6>
      <i class="fas fa-user-check"></i>
      最低成團人數
      </h6>
      <p>
      <%= @event.min_attend %>人
      </p>
    </div>

    <div class="col">
      <h6>
      <i class="fas fa-wallet"></i>
      費用
      </h6>
      <p>
      <%= @event.fee %>元
      </p>
    </div>

    <div class="col">
      <h6>
      <i class="fas fa-map-marker-alt"></i>
      地點
      </h6>
      <p id="location2">
      <%= @event.location unless @event.location.blank? %>
      </p>
    </div>

    <!-- Button trigger qrcode -->
    <button type="button" class="btn qr-btn" data-toggle="modal" data-target="#eventQRCode">
      <i class="fas fa-share-alt"></i>
    </button>

  </div>
      
  <div id="map"></div>

  <div class="col apply_end text-muted">
      <h6>
      預計報名截止時間
      </h6>
      <p>
      <%= @event.apply_end %>(若滿單，主揪可能提早收單)
      </p>
  </div>

  <div class="buttons">
    <% if user_signed_in? && policy(@event).close_event? %>
      <%= link_to "收單！確認出團！", close_event_event_path(@event), class: "btn btn-confirm btn-sm btn-block", method: 'put', data: {confirm: "確定收團？不再多找些人？"} %>
    <% end %>

    <% if user_signed_in? && policy(@event).view_participants? %>
      <%= link_to "檢視團員名單", view_participants_event_path(@event), class: "btn btn-warning btn-sm btn-block"%>
    <% end %>
    <% if user_signed_in? && policy(@event).edit? %>
      <%= link_to "編輯活動", edit_event_path(@event), class: "btn btn-warning btn-sm btn-block"%>
      <%= link_to "取消活動", cancel_event_event_path(@event), class: "btn btn-secondary btn-sm btn-block", data: {confirm: "確定取消活動？"}, method: 'put' %>
    <% end %>



    <% if policy(@event).apply? %>
      <%= link_to "我要報名", apply_event_path, class: "btn btn-warning btn-sm btn-block", method: 'put' %>
    <% end %>
  </div>

  <%= render 'shared/frontend/qrcode'%>

  <!-- 留言區 -->    
  <div class="comment-area">
    <h4>留言區</h4>
    <%= render partial: 'events/comment', collection: @event.comments.reverse %>
    <%= render partial: 'comments/form' %>
  </div>
</div>



    


<script>
  var map, lat1, lng2;
  function initMap() {

    geocoder = new google.maps.Geocoder();
    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();
    // 載入路線服務與路線顯示圖層
    
    navigator.geolocation.watchPosition((position) => {
      console.log(position.coords);
      lat1 = position.coords.latitude;
      lng2 = position.coords.longitude;

      position2(lat1,lng2);
    });
    // 初始化地圖

    function position2(lat1, lng2) {   
      map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: { lat: 25.034010, lng: 121.562428 }
      });

      var address = document.querySelector("#location2").innerHTML;
      console.log(address)

      // 放置路線圖層
      directionsDisplay.setMap(map);

      // 路線相關設定
      var request = {
          origin: { lat: lat1, lng: lng2},
          destination: address,
          travelMode: 'TRANSIT'
      };

      var markers = [];
      var infowindows =[];
      // 繪製路線
      directionsService.route(request, function (result, status) {
        if (status == 'OK') {
          // 回傳路線上每個步驟的細節
        var steps = result.routes[0].legs[0].steps;
        steps.forEach((e, i) => {
          console.log(steps);
          // 加入地圖標記
          markers[i] = new google.maps.Marker({
          position: { lat: e.start_location.lat(), lng: e.start_location.lng() },
          map: map,
          label: { text: i + '', color: "#fff" }
          });
          // 加入資訊視窗
          infowindows[i] = new google.maps.InfoWindow({
          content: e.instructions
          });
          // 加入地圖標記點擊事件
          markers[i].addListener('click', function () {
          if(infowindows[i].anchor){
            infowindows[i].close();
          }
          else{
          infowindows[i].open(map, markers[i]);
          }
          });
        });
        directionsDisplay.setDirections(result);
        } 
        else {
        console.log(status);
        }
        });
      //     console.log(result.routes[0].legs[0].steps);
      //     directionsDisplay.setDirections(result);
      //   } 
      //   else {
      //     console.log(status);
      //   }
      // });
    }
}
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["google_api_key"]%>&callback=initMap"
async defer></script>


